/.idea/.idea.Algorithms/.idea/.gitignore
/Algorithms/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Algorithms/obj/Debug/net5.0/Algorithms.AssemblyInfo.cs
/Algorithms/obj/Debug/net5.0/Algorithms.AssemblyInfoInputs.cache
/Algorithms/obj/Debug/net5.0/Algorithms.assets.cache
/Algorithms/Algorithms.csproj
/Algorithms/obj/Debug/net5.0/Algorithms.csproj.AssemblyReference.cache
/Algorithms/obj/Algorithms.csproj.nuget.dgspec.json
/Algorithms/obj/Algorithms.csproj.nuget.g.props
/Algorithms/obj/Algorithms.csproj.nuget.g.targets
/Algorithms/obj/Debug/net5.0/Algorithms.GeneratedMSBuildEditorConfig.editorconfig
/Algorithms.sln
/.idea/.idea.Algorithms/.idea/encodings.xml
/global.json
/Algorithms/Program.cs
/Algorithms/obj/project.assets.json
/Algorithms/obj/project.nuget.cache
/Algorithms/obj/project.packagespec.json
/Algorithms/obj/rider.project.model.nuget.info
/Algorithms/obj/rider.project.restore.info
